# Python and Virtual Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Portable Installations
python_portable/

# Datasets and Output Artifacts (Models are huge and will break GitHub limits)
data/*.csv
data/*.data
artifacts/models/*.h5
artifacts/models/*.pkl
artifacts/scalers/*.pkl
artifacts/plots/*.png

# Gradio / IDE Caches
.gradio/
.pytest_cache/
.idea/
.vscode/
*.swp

# OS Files
.DS_Store
Thumbs.db
